# This is a basic workflow to help you get started with Actions

name: Test CI/CD Development

on:
  push:
    branches: [ development ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - uses: actions/checkout@v2
        with:
          clean: 'false'
      - name: Setup Node.js ${{ matrix.node-version }} enviroent
        uses: actions/setup-node@v2.5.0
        with:
          node-versiom: ${{ matrix.node-version }}
      - run: npm install -g yarn
      - name: yarn install
        run: yarn install
      - name: yarn build
        env: 
          REACT_APP_API_KEY: ${{ secrets.API_KEY }}
        run: yarn build
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v2.3.0
        with:
          name: build
          path: build
          
  deploy:
    name: Deploy
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.0
      - name: Download a Build Artifact
        uses: actions/download-artifact@v2.1.0
        with:
          name: build
          path: build
      - name: GitHub Action for Firebase
        uses: w9jds/firebase-action@v2.0.0
        with:
          args: deploy --only hosting
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
          
